#component-1{
	margin-bottom: 0;

.row{
.col-sm-8{
	h2{
		text-align: left;
		color: $green;
		max-width: 540px;

		@include screen(567){
			max-width: 100%;
			padding: 0 65px;
		}

		span{
			font-size: 48px;
		}
	}
	p{
		max-width: 665px;
		font-size: 18px;
		margin: 50px 0;

		@include screen(567){
			max-width: 100%;
			padding: 0 65px;
		}
	}
		a{
			@include screen(567){
				margin: 0 auto;
	}
}
}
}
}