#component-6{
	margin-top: 0;
	background: #F9F9F9;
	padding: 0 0 84px;
	.col-sm-4{

		img.tree{
			display: block;
			width: 271px;
			margin: 0 auto;
		}	
		h4{
		margin-bottom: 0;
		}	

		.text-block:not(:first-child){
		margin-top: 40px;

		}	
	}
	

	
	.green-title{
		h4{
			color: #00AA26;
		}
	}
}

	