header{

	.row{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    color: #00AA26;

    .info{
    display: flex;
    flex-direction: column;
    align-items: flex-end;

        &__top{
    		@extend.row;
	   	    justify-content: flex-end;
	   	    align-items: center;	
	   	    margin: 0;
	   	    font-size: 16px;


	   	    .numbers{
	   		margin-right: 29px;	

	   		span.separator-number{
	   			margin: 0 5px;
	    		border-right: 1px solid #C4C4C4;
	   		}

            }
            a.instagram, a.facebook{
   		    margin-right: 15px;	
         	}
         	.languages a{
         		font-size: 13px;
         	}
            }

            

         &__bottom{
         	display: flex;	
         	align-items: flex-end;
         	justify-content: space-between;
         	margin-top: 25px;


         	.menu{
         		line-height: 12px;	

         		a.link-menu{
         			text-transform: uppercase;
         			font-size: 12px;	
         			font-weight: 400;
         			color: #535353;
         			margin-right: 26px;
         			letter-spacing: 5%;	
         		}
         		a.link-menu:last-child{
         			margin: 0;

         		}
         	}
         }   
	}
}
	.top-header{
		padding: 15px 0  20px;	
	}

	
	.wrapper-size{
	width: 1140px;
    max-width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
	}
   
	a{
		color: #00AA26;
	}
	h3{
		font-weight: 700;
	}


	.bottom-header{
		position: relative;
		

		&__image{
			background: url('../images/dest/main_pic.jpg');
			
			width: 100%;

			&_title{
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-size: 26px;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			min-height: 530px;

				&_text:first-child{
				color: #535353;
				max-width: 255px;

				span{
					font-size: 36px;
				}
			}

				&_text:last-child{
				max-width: 255px;
				text-align: right;
				color: $white;

				span{
					font-size: 36px;
				}
			}
		}

		}
	}

}


